.text-color-one {
  color: #FC7CFF;
}

.text-color-two {
  color: #8FFF7C;
  text-transform: uppercase;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #10002B;
  padding: 24px 42px;
}

.logo {
  font-size: 2.75rem;
  font-weight: bold;
}

.header-nav-container {
  display: flex;
  font-size: 1.25rem;
}

.header-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 144px;
}

.header-list-container li {
  margin: 0 16px;
}

.register-cta-btn {
 color: #040404;
 font-size: 1.25rem;
 font-weight: bold;
 background-color: #8FFF7C;
 padding: 14px 32px;
 border-radius: 1rem;
}

.login-cta-btn {
  color: #FC7CFF;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 14px 32px;
  border-radius: 1rem;
  border: 1px solid #FC7CFF;
 }

.first-section-container {
  padding-top: 84px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #10002B, #5A189A);
}

.first-section-one {
  padding-left: 116px;
}

.first-section-one h1 {
  text-align: left;
  margin-bottom: 14px;
  font-size: 3.25rem;
}

.first-section-one p {
  text-align: left;
  font-size: 1.25rem;
  margin-bottom: 14px;
}

.duo-cta-btn {
  display: flex;
  justify-content: space-between;
  width: 420px;
}

.first-section-two {
  padding-right: 116px;
}

.mountain-one, .mountain-two, .mountain-three {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mountain-one {
  background-image: url('/imgs/mountains-one.svg');
}

.mountain-two {
  background-image: url('/imgs/mountains-two.svg');
}

.mountain-three {
  background-image: url('/imgs/mountains-three.svg');
}

.second-section-container {
  background: linear-gradient(to bottom, #240046, #720E9E);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 112px;
}

.second-section-container h1 {
  margin-bottom: 32px;
}

.second-section-container-inside {
  display: flex;
  justify-content: space-between;
}

.second-section-container h1 {
  font-size: 3.25rem;
}

.second-section-container h2, p {
  text-align: left;
}

.second-section-one ul {
  margin-right: 100px;
  display: flex;
}

.second-section-one li {
  margin: 14px;
}

.second-section-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.second-section-two h2 {
  font-size: 3.25rem;
  margin-bottom: 14px;
}

.second-section-two p {
  font-size: 1.25rem;
  margin-bottom: 14px;
}

.third-section-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #1D1160, #080315);
}

.third-section-container h1 {
  margin: auto;
  margin-top: 64px;
  margin-bottom: 62px;
  font-size: 3.375rem;
  text-align: left;
}

.third-section-one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 58px;
}

.third-section-one ul {
  text-align: left;
  font-size: 1.75rem;
}

.third-section-one li {
  margin-bottom: 24px;
  padding: 8px;
  border-radius: 8px;
}

.third-section-one li:nth-child(odd) {
  border-bottom: 1px solid #8FFF7C;
}

.third-section-one li:nth-child(even) {
  border-bottom: 1px solid #FC7CFF;
}

.fourth-section-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #10012C, #5A189A);
  padding-bottom: 112px;
}

.fourth-section-one {
  text-align: left;
}

.fourth-section-one h1 {
  font-size: 3.375rem;
  margin-top: 64px;
  margin-bottom: 14px;
}

.fourth-section-one p {
 font-size: 1.25rem;
 margin-bottom: 14px; 
}